<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ws_manufacturer_all_listing_data_source" xsi:type="string">WS\Manufacturer\Model\ResourceModel\Manufacturer\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="WS\Manufacturer\Model\ResourceModel\Manufacturer\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">manufacturer</argument>
            <argument name="resourceModel" xsi:type="string">WS\Manufacturer\Model\ResourceModel\Manufacturer</argument>
        </arguments>
    </virtualType>
</config>
